body {

	background-color: #0390e5;

}

h1{
	color:white;
}

div{
  color : white;
}

a{
  
  color : orange;
}

ul.contact li {
	transition: all 1s;
	@keyframes resize:  {
		0% {padding: 0;}
		50% {padding 0 10px;}
		100% { padding: 0 30px; }
	}
}